
<div>
  <div class="row">
    <div class="column">
      <div class="card" *ngIf="identity.role == 'ROLE_ADMIN'">
        <button [routerLink]="['/new-category']" [routerLinkActive]="['actived']" class="button">Añadir nueva categoria</button>
        <p></p>
        <p>Opcion para añadir categoria</p>
        <p>Some text</p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <button [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']" id="identity_name" class="button" style="background-color: chocolate; color: black;">Actualizar Datos</button>
        <p></p>
        <p>Boton para actualizar los datos</p>
        <p>de mi usuario</p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <button  onclick="document.getElementById('id01').style.display='block'" class="button" style="background-color: salmon; color: blueviolet;">Cerrar sesion</button>
        <p></p>
        <p>Some text</p>
        <p>Some text</p>

      </div>
    </div>
    <div class="column">
      <div class="card">
        <button [routerLink]="['/new-subcategory']" [routerLinkActive]="['actived']"  class="button">Nueva Subcategoria</button>
        <p> </p>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <div class="card" >
        <button [routerLink]="['/new-subject']" [routerLinkActive]="['actived']" class="button">Añadir nuevo ramo</button>
        <p></p>
        <p>Opcion para añadir categoria</p>
        <p>Some text</p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <button [routerLink]="['/categories-list']" [routerLinkActive]="['actived']" id="identity_name" class="button" style="background-color: chocolate; color: black;">Listado de Categorías</button>
        <p></p>
        <p>Boton para ver el listado de categorias</p>
        <p> oli </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <button  onclick="document.getElementById('id01').style.display='block'" class="button" style="background-color: salmon; color: blueviolet;" disabled>Cerrar sesion</button>
        <p></p>
        <p>Some text</p>
        <p>Some text</p>

      </div>
    </div>
    <div class="column">
      <div class="card">
        <button [routerLink]="['/new-subcategory']" [routerLinkActive]="['actived']"  class="button" disabled>Nueva Subcategoria</button>
        <p> </p>
        <p>Some text</p>
        <p>Some text</p>
      </div>
    </div>
  </div>

</div>
