

<div class="head page" *ngIf="identity">
  <div>
    <h1>{{titulo}}</h1>
    <div class="a">
      <button [routerLink]="['/new-subject']" [routerLinkActive]="['actived']" class="button">Añadir nuevo ramo</button>
    </div>
  </div>

</div>


<br>
<div class="w3-container">
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-light-grey">
        <th>Nombre Ramo</th>
        <th>Codigo</th>
        <th>Profesor</th>
        <th class="w3-right-align">Editar / Eliminar</th>
      </tr>
    </thead>
    <tr *ngFor="let subject of subjects" class="w3-hover-blue">
      <td>{{subject.name}}</td>
      <td>{{subject.code}}</td>
      <td>{{subject.teacher}}</td>
      <td class="w3-right-align">
          <a [routerLink]="['/subject-edit', subject._id]" [routerLinkActive]="['actived']" class="btn" style="background-color: green;;"><i class="fas fa-edit"></i></a>
          <a (click)="deleteSubject(subject._id)" class="btn"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
  </table>
</div>
