.content {
  margin-top: 75px;
  height: 650px;
  margin-left: 500px;
  margin-right: 500px;
  position: center;
  background-color: #253E85;
  border: 10px solid rgb(0, 161, 223);
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.text-center {
  margin: 50;
}

