
<div class="head page" *ngIf="identity">
  <h1>{{titulo}}</h1>

<a [routerLink]="['/new-category']" [routerLinkActive]="['actived']" *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-success">
    Añadir Categoría
</a>
<div class="w3-container">

  <table class="w3-table-all">
    <thead>
      <tr class="w3-light-grey w3-hover-indigo">
        <th>Nombre</th>
        <th>descripción</th>
        <th>acciones</th>
      </tr>
    </thead>
    <tr class="w3-hover-blue">
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr class="w3-hover-blue">
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
    <tr class="w3-hover-blue">
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
    </tr>
    <tr class="w3-hover-blue">
      <td>Bo</td>
      <td>Nilson</td>
      <td>35</td>
    </tr>
  </table>
</div>
